$primary-50: #070507;
$primary-60: #34063b;
$primary-75: #312832;
$primary-100: #473b4a;
$primary-150: #7b5981;
$primary-200: #6c1b78;
$primary-250: #74277f;
$primary-300: #da92e8;
$accent-100: #8cc11c;
$accent-200: #9dd624;
$red-100: #d26225;
$neutral-100: #dddddd;
$neutral-200: #efefef;
$neutral-250: #f3f3f3;
$neutral-300: #f6f6f6;
$grey-100: #8c8c8c;
