{
  "name": "SCSS Framework",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "components/_all.scss",
      "imports": [
        "components/_button.scss",
        "components/_table.scss",
        "components/_tooltip.scss",
        "components/_form-fields.scss",
        "global/_mixins.scss"
      ]
    },
    {
      "path": "components/_button.scss",
      "imports": [
        "global/_mixins.scss"
      ]
    },
    {
      "path": "components/_slider.scss",
      "imports": [
        "vendors/_swiper-bundle.scss"
      ]
    },
    {
      "path": "components/_text-hover-images.scss",
      "imports": [
        "components/_text-hover-images~square.scss",
        "components/_text-hover-images~rectangle.scss"
      ]
    },
    {
      "path": "components/_tooltip.scss",
      "imports": [
        "global/_mixins.scss"
      ]
    },
    {
      "path": "global/main.scss",
      "imports": [
        "global/normalize.scss",
        "global/_all.scss",
        "layouts/_header.scss",
        "layouts/_banner.scss",
        "layouts/_footer.scss",
        "layouts/_sections.scss",
        "components/_button.scss",
        "components/_list.scss",
        "components/_tooltip.scss",
        "global/_tokens.scss",
        "global/_mixins.scss",
        "global/_colors.scss",
        "global/_typography.scss"
      ]
    },
    {
      "path": "global/_all.scss",
      "imports": [
        "global/_tokens.scss",
        "global/_mixins.scss",
        "global/_colors.scss",
        "global/_typography.scss"
      ]
    },
    {
      "path": "global/_typography.scss",
      "imports": [
        "global/_mixins.scss"
      ]
    },
    {
      "path": "layouts/_footer.scss",
      "imports": [
        "global/_mixins.scss"
      ]
    },
    {
      "path": "layouts/_splitSection.scss",
      "imports": [
        "global/_mixins.scss"
      ]
    },
    {
      "path": "global/utilities/_all.scss",
      "imports": [
        "global/utilities/_border-radius.scss",
        "global/utilities/_box-shadows.scss",
        "global/utilities/_font-sizes.scss",
        "global/utilities/_object-fit.scss",
        "global/utilities/_spacing.scss",
        "global/utilities/_text-center.scss",
        "global/_tokens.scss"
      ]
    },
    {
      "path": "global/utilities/_font-sizes.scss",
      "imports": [
        "global/_tokens.scss"
      ]
    },
    {
      "path": "global/utilities/_font-weights.scss",
      "imports": [
        "global/_tokens.scss"
      ]
    },
    {
      "path": "pages/gallery.scss",
      "imports": [
        "vendors/photoswipe.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "js",
      "css",
      "html"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "/packages",
    "/ReferencedAssemblies",
    "/Genesis/AjaxHandlers",
    "/Genesis/App_Start",
    "/Genesis/FormProcessing",
    "/Genesis/Genesis.cspro",
    "/Genesis/Properties",
    "/Genesis/Service References",
    "/Genesis/Templates",
    "/Genesis/Views",
    "/Genesis/Web References",
    "/Genesis_Assemblies",
    "/Genesis/_Core",
    "/Genesis/app_data",
    "/Genesis/bin",
    "/Genesis/config",
    "/Genesis/obj",
    "/Genesis/shared_Gen",
    "/Genesis/Content/GenCore",
    "/Genesis/Content/UploadedImages",
    "/Genesis/Content/UploadedPhotos",
    "/Genesis/Content/files",
    "/Genesis/Content/fonts",
    "/Genesis/Content/images",
    "/Genesis/Content/tempuploads",
    "/Genesis/Content/css/bundles",
    "/Genesis/Content/scripts/bundles"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"autoCompile\":true,\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"stylus\",\"styl\"],\"replaceSegmentsWith\":\"css\",\"relative\":\"\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-stylus\":{\"enabled\":true}}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}